/* 
-Edit continent text.
-Add a 3-striped menu w/ javascript additions
-Make the code smaller and easier to edit after completion
*/

* {
    box-sizing: border-box;  
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #222222;
}

button {
    display: inline-block;
    padding: 10px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #e23333;
    border: none;
    border-radius: 25px;
    margin: 10px 0px;
}

button:hover {background-color: #a12222}
  
button:active {
    background-color: #a12222;
    transform: translateY(5px);
}

a {
    color: #fff;
}

a:link {
    text-decoration: none;
}
  
a:visited {
    color: #fff;
}
  
a:hover {
    color: #e23333;
}
  
a:active {
    text-decoration: none;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    color: #fff;
}

p {
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.png {

}

.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    background: #a12222;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

.search-wrapper {
    align-self: center;
}

.search-box {
    align-items: center;
    background: #700f0f;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
}

.menu-items {
    max-width: 1200px;
    margin: auto;
    background: #222222;
    padding: 0 10px;
    /*border: 1rem solid;*/
    border-color: ;
    color: white;
    font-weight: 700;
}

.menu-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.textbox {
    max-width: 100px;
    margin: 20px;
    text-align: center;
}

.textbox:hover {
    transform: scale(1.1);
}

.banner {
    margin: auto;
    color: #fff;
    background-image:
    linear-gradient(to top right, rgba(15, 15, 15, 0.5) 0%, rgba(0,0,0, 0.80 ) 10%),
    url(./images/weird.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    max-width: 600px;
    margin: auto;
}

.para-container {
    text-align: center;
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;;
}

.chef {
    padding: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.recipe-container {
    color: #ffffff;
    height: auto;
    margin-bottom: 40px;
}

.image-box {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.image-text-box {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    word-wrap: normal;
    margin: 10px;
    max-width: 700px;
}

.chef-special {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.image-text-box > h2, p {
    padding-bottom: 10px;
}

.image-text-box > p {
    font-style: italic;
    margin-bottom: 10px;
}

.ingredients {
    font-size: 24px;
}

.ingredients > sub {
    font-size: 16px;
    margin-left: -20px;
    margin-top: 20px;
}

ul {
    list-style: none;
}

#more {
    display: none;
}

.subscribe {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    background-image:
    linear-gradient(to top right, rgba(46, 43, 43, 0.767) 10%, rgba(175, 75, 75, 0.8) 60%),
    url(./images/subscribe-image.gif);
}

.footer {
    height: 200px;
    background-color: #222222;
    color: #fff;
}

#ceneqa {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

#id-sub {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
}

#toes {
    display: flex;
    justify-content: center;
}

#toes > sub {
    max-width: 600px;
    padding: 10px 30px;
}
