* {
    box-sizing: border-box;  
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #292929;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.png {

}

.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    background: #7e0800;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
}

.logo-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    color: #fff;
}

.search-wrapper {
    align-self: center;
}

.search-box {
    align-items: center;
    background: #2f3640;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
}

.menu-items {
    background: #292929;
    padding: 0 10px;
    /*border: 1rem solid;*/
    border-color: ;
    color: white;
    font-weight: 700;
}

.menu-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.textbox {
    max-width: 100px;
    margin: 10px;
    text-align: center;
}

.section-2 {
    background: #7e0800;
}

.paragraph-header-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #fff;
}

.para-container {
    display: flex;
}